{% extends "index.html" %}

<div class = "container mt-5 text-center"
    <h1> About Our Retsaurant</h1>
    <p class = "lead" mt-3>
        Welcome to <strong>Taste haven</strong>, where every meal is crafted with love and passion.
        From fresh ingredients to authentic flavors, we bring you a delightful dining experience that
        conbines tradition with innovation.
    </p>
    <img src= "{% static 'images/restaurant.jpg'}"
        alt = "Our Retsaurant"
        class = "img-fluid mt-4 rounded shadow-lg"
        style="max_width: 600px;">
</div>
{% endblock %}

